/chat

*.o
*.a
.cache/
.vs/
.vscode/
.DS_Store

boost/
build/
build-em/
build-debug/
build-release/
build-static/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*
*.bin

/main
/quantize
/server

arm_neon.h
compile_commands.json

# Windows CMake files
*.vcxproj
*.filters
*.cmake
*.sln
*.user
x64/
Debug/
Release/
CMakeFiles/
CMakeCache.txt
*.dir/
.hypothesis/
